@import 'form';

.street {
  flex-grow: 1;
}

.number {
  flex-grow: 0;
  width: 30%;
}

.city {
  flex-grow: 1;
}

.state {
  flex-grow: 0;
  width: 20%;
}

.zipcode {
  flex-grow: 1;
}

.complement {
  flex-grow: 1;
}

.school-years{
  margin-bottom: 10px;
}