@import "colors";

:host {
  height: 100%;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.base {
  flex-direction: column;
  gap: 10px;
  padding: 15px;  
  width: 100%;
  table {
    max-width: 700px;
    font-size: 1rem;
    td{
        background-color: transparent;
    }
    .table-row {
        cursor: pointer;
        &:hover{
            background-color: $hover-color;
        }
    }
    .trash-icon {
        color: red;
        height: auto;
    }
  }
}
