<div class="base flex">
    <div class="flex pointer button-home" routerLink="schools">
        <img src="assets/images/logo.png" alt="logo">
        <h1>Nome-APP</h1>
    </div>
    <div class="buttons-container flex">
        <button routerLink="schools/new"><ng-icon class="ng-icon" name="bootstrapHouseAdd"></ng-icon> Nova
            Escola</button>
        <button routerLink="classes/new"> <ng-icon class="ng-icon" name="heroAcademicCap"></ng-icon> Nova Sala</button>
        <button routerLink="students/new"><ng-icon class="ng-icon" name="bootstrapPersonPlusFill"></ng-icon> Novo
            Aluno</button>
    </div>
</div>